body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

p {
    color: #5B5757;
}

.pad-x-150 {
    padding: 0 150px;
}

.mb-130 {
    margin-bottom: 130px;
}

img {
    width: 100%;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.send-gift p {
    width: 70%;
}

.home {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-color: #DA2535;
    border-radius: 5px;
    padding: 15px 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
}

.best-gift {
    margin: 100px 0 0 100px;
    width: 35%;
}